<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnshu.Dao.ProfessionMapper">
<select id="getListProfession" resultType="com.jnshu.Entity.Profession">
        select profession.*,COUNT(*) AS proCount from student RIGHT JOIN profession
on profession.id = student.profession_id group BY profession.id
    </select>
</mapper>