<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnshu.Dao.StudentMapper">


        <!--    查询只是优秀学员的信息，只展示4位-->
    <select id="show" resultType="com.jnshu.Entity.Student">
        select * from student where excellent=1 limit 4
    </select>

        <!--    查询已经找到工作的学员数量-->
        <select id="countByWorking"  resultType="java.lang.Integer" >
        select count(working) from student where working=1
    </select>
        <!--    查询在学的学员数量-->
        <select id="countByLearning" resultType="java.lang.Integer" >
    select  count(working) from student where working=0
    </select>




<!--&lt;!&ndash;   插入数据&ndash;&gt;-->
<!--    <insert id="insertStudent" parameterType="com.jnshu.Entity.Student">-->
<!--       insert into student (name,picture,working,company,job,profession_id,expreience,excellent,create_time,update_time,create_by,update_by)-->
<!--       values (#{name},#{picture},#{working},-->
<!--       #{company},#{job},#{profession_id},#{expreience},-->
<!--       #{excellent},#{create_time},#{update_time},#{create_by},#{update_by})-->
<!--    </insert>-->

<!--&lt;!&ndash;   删除数据&ndash;&gt;-->
<!--    <delete id="deleteStudent"  parameterType="java.lang.Long">-->
<!--        delete from student where id=#{id}-->
<!--    </delete>-->

<!--&lt;!&ndash;    更新数据&ndash;&gt;-->
<!--    <update id="updateStudent" parameterType="com.jnshu.Entity.Student">-->
<!--    update student-->
<!--    <set>-->
<!--        <if test="name!=null">-->
<!--             name =#{name}-->
<!--        </if>-->
<!--        <if test="picture!=null">-->
<!--            picture =#{picture}-->
<!--        </if>-->
<!--        <if test="working!=null">-->
<!--            working =#{working}-->
<!--        </if>-->
<!--        <if test="company!=null">-->
<!--            company =#{company}-->
<!--        </if>-->
<!--        <if test="job!=null">-->
<!--            job =#{job}-->
<!--        </if>-->
<!--        <if test="profession_id!=null">-->
<!--            profession_id =#{profession_id}-->
<!--        </if>-->
<!--        <if test="expreience!=null">-->
<!--            expreience =#{expreience}-->
<!--        </if>-->
<!--        <if test="excellent!=null">-->
<!--            excellent =#{excellent}-->
<!--        </if>-->
<!--        <if test="create_time!=null">-->
<!--            create_time =#{create_time}-->
<!--        </if>-->
<!--        <if test="update_time!=null">-->
<!--            update_time =#{update_time}-->
<!--        </if>-->
<!--        <if test="create_time!=null">-->
<!--            create_by =#{create_by}-->
<!--        </if>-->
<!--        <if test="create_time!=null">-->
<!--            update_by =#{update_by}-->
<!--        </if>-->
<!--    </set>-->
<!--     where id = #{id}-->
<!--    </update>-->
<!--&lt;!&ndash;    根据id查询&ndash;&gt;-->
<!--    <select id="findStudentById" parameterType="java.lang.Long" resultType="com.jnshu.Entity.Student">-->
<!--        select * from student,where id=#{id}-->
<!--    </select>-->
<!--&lt;!&ndash;    查询所有学生&ndash;&gt;-->
<!--    <select id="findAllStudent" resultType="com.jnshu.Entity.Student">-->
<!--        select * from student-->
<!--    </select>-->

        <select id="findAllStudent" resultType="com.jnshu.Entity.Student">
            select * from student
        </select>
</mapper>